{% extends 'musicwalletapp/base.html' %}
{% block content %}
			<div class="panel panel-default">
			  <!-- Table -->
			  <table class="table">
			  	<tr>
				    <th bgcolor="#D3D3D3" style="text-align: center;">Users</th>
				    <th bgcolor="#D3D3D3"></th>
				    <th bgcolor="#D3D3D3"></th>
				    <th bgcolor="#D3D3D3"><a class="glyphicon glyphicon glyphicon-plus" aria-hidden="true" href="#"></a></th>
			  	</tr>
			  	<tr>
				    <th>Name</th>
				    <th>Email</th>
				    <th></th>
				    <th></th>
			  	</tr>
				{% if users.count > 0 %}
				  	{% for user in users %}
				  	<tr>
					    <td>{{ user.name}}</td>
					    <td>{{ user.email}}</td>
					    <td><a class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true" href="#"></a></td>
				  	</tr>
					{% endfor %}
				{% else %}
				    <td style="text-align: center;">The list of users is empy</td>
					<td></td>
				    <td></td>
				    <td></td>
				{% endif %}
			  	<tr>
				    <td>&nbsp;</td>
				</tr>
			    <tr>
				    <th bgcolor="#D3D3D3" style="text-align: center;">Musics</th>
				    <th bgcolor="#D3D3D3"></th>
				    <th bgcolor="#D3D3D3"></th>
				    <th bgcolor="#D3D3D3"><a class="glyphicon glyphicon glyphicon-plus" aria-hidden="true" href="{% url 'music_new' %}"></a></th>
			  	</tr>
			  	<tr>
				    <th>Title</th>
				    <th>Artist</th>
				    <th>Album</th>
				    <th></th>
			  	</tr>
			  	{% if musics.count > 0 %}
				  	{% for music in musics %}
				  	<tr>
					    <td>{{ music.title}}</td>
					    <td>{{ music.artist}}</td>
					    <td>{{ music.album}}</td>
					    <td>
					    <a class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true" href="{% url 'music_edit' pk=music.pk %}"></a>
					    <a class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" href="{% url 'music_delete' pk=music.pk %}"></a>
					    </td>
				  	</tr>
					{% endfor %}
				{% else %}
				    <td style="text-align: center;">The list of musics is empy</td>
					<td></td>
				    <td></td>
				    <td></td>
				{% endif %}


			  </table>
			</div>
{% endblock %}