{% extends 'musicwalletapp/base.html' %}
{% block content %}

<form method="POST" class="post-form">
	<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
		<div id="user_form" class="input-group">
			<table>
			{% csrf_token %}
	        {{ form.as_table }}
	        </table></br>
	        <button style="margin-left: 50px;" type="submit" class="save btn btn-default">Save</button>
        </div>
    </div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</form>

<p></p>
<div class="panel panel-default">
			  <!-- Table -->
			  <table class="table">
			  	<tr>
				    <th bgcolor="#D3D3D3"></th>
				    <th bgcolor="#D3D3D3" style="text-align: center;">Favourite Musics</th>
				    <th bgcolor="#D3D3D3"></th>
				    <th bgcolor="#D3D3D3"></th>
			  	</tr>
			  	<tr>
				    <th>Title</th>
				    <th>Artist</th>
				    <th>Album</th>
			  	</tr>
			  	{% if form.instance.favourite_musics.count > 0 %}
				  	{% for music in form.instance.favourite_musics.all %}
				  	<tr>
					    <td>{{ music.title}}</td>
					    <td>{{ music.artist}}</td>
					    <td>{{ music.album}}</td>
					    <td>
					    <a class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true" href="{% url 'music_edit' pk=music.pk %}"></a>
					    <a class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" href="{% url 'music_delete' pk=music.pk %}"></a>
					    </td>
				  	</tr>
					{% endfor %}
				{% else %}
				    <td style="text-align: center;">The list of favourite musics is empy</td>
					<td></td>
				    <td></td>
				    <td></td>
				{% endif %}
  			  </table>
</div>


{% endblock %}